/**
 * React Static Boilerplate
 * https://github.com/koistya/react-static-boilerplate
 *
 * Copyright © 2015-2016 Konstantin Tarkus (@koistya)
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.lorem {
  font-size: 20px;
  padding: 40px;
  margin-right: 80px;
}

@media screen and (max-width: 1024px) {

  .content {
    padding: 0 16px;
  }
}
